@import 'scss/color';

.button {
    color: $gc2;
    // Size
    &.size1 {
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
    }
    &.size2 {
        padding: 1rem 3rem;
        font-size: 1.5rem;
    }
    &.size3 {
        padding: 1.5rem 5rem;
        font-size: 2rem;
    }

    // Color
    &.primary {
        background: $gc1;
        border: none;
        color: #fff;
    }

    // type
    &.outline {
        border-width: 1px;
        background: #fff;
    }
    &.radius {
        border-radius: 2rem;
    }


    & + .button {
        margin-left: 1rem;
    }
}

