@import 'scss/color';

.button {
    &.small {
        padding: 0.5rem 1.5rem;
    }
    &.medium {
        padding: 1rem 2rem;
    }
    &.primary {
        background: $pc;
        border: none;
        color: #fff;
    }
    & + .button {
        margin-left: 1rem;
    }
}

