@import 'scss/color';

.topMenu {
	white-space: nowrap;
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		overflow-x: auto;
		list-style: none;
		// height: 4rem;
		white-space: nowrap;
		li {
			a {
				display: block;
				padding: 1.2rem 1rem;
				color: $gc2;
				text-decoration: none;
			}
		}
	}
}
